##### 1.) Write a Python program which accepts a list named : randomList = ['a', 0, 2]. Use exception handling using try-catch which gives the output as: 
 
##### Output: 
 
##### 1) If the List element is a alphabet or string, the output will be 
 
The entry is a Oops! <class 'ValueError'> occured. 
Next entry. 
 
##### 2) If the List element is “0”,the output will be 
 
The entry is 0 Oops! <class 'ZeroDivisionError'> occured.  
Next entry. 
 
##### 3) If the List element is and integer except 0,then output will be: 
 
The entry is 2 The reciprocal of 2 is 0.5 // reciprocal of an integer

In [2]:
import sys

randomList = ['a', 0, 2]

for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
        break
    except:
        print("Oops!",sys.exc_info()[0],"occured.")
        print("Next entry.")
        print()
print("The reciprocal of",entry,"is",r,"// reciprocal of an integer")

The entry is a
Oops! <class 'ValueError'> occured.
Next entry.

The entry is 0
Oops! <class 'ZeroDivisionError'> occured.
Next entry.

The entry is 2
The reciprocal of 2 is 0.5 // reciprocal of an integer

##### 2) Array out of Bound Exception

Write a Python program to give exception “Array Out of Bound” if the user wants to access the elements beyond the list size (use try and except)

In [3]:
import numpy as np


try:
    mylist = [1,2,3,4,5]
    arr = np.array(mylist)
    print(arr[5])
except IndexError as e:
    print( "Array Out of Bound:", e)

Array Out of Bound: index 5 is out of bounds for axis 0 with size 5

##### 3) Write a python module script that contains fib2() method to calculate the Fibonacci series till 1000 and save it as fibo.py. 
 
Note : The module created as fibo.py has to be placed in lib folder 
 
For linux/ubuntu path = /home/anaconda/lib/python3 
For Windows path = C:\Users\Ajit\Anaconda3\Lib

In [4]:
# Python module saved as fibo.py which contains following fib2() method

def fib2(n): 
    result = []
    a, b = 0, 1
    while b < n:
        if a == 0:
            result.append(a) 
        result.append(b)
        a,b = b, a+b
    return result

#verify the method

fib2(1000)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [6]:
# import the method from module and verify 

from fibo import fib2
fib2(1000)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

##### 4) Write a python module script that contains ispalindrome() method to calculate the input string as palindrome string or not and save it as palindrome.py.

In [7]:
# Python module saved as palindrome.py which contains following ispalindrome() method

def isPalindrome(s): 
    rev = s[::-1] 
    if (s == rev): 
        return True
    return False

#Verify the method

print(isPalindrome('DOG'))
print(isPalindrome('madam'))

False
True

In [8]:
# import the method from module and verify

from palindrome import isPalindrome

print(isPalindrome('Elephant'))
print(isPalindrome('redivider'))

False
True

##### 5) Write a program in Python with one class called Cipher. Within the constructor of this class, ask user for a string and store it. Use a static variable, key to store a randomly generated integer between 1 and 50 inclusive. Implement two methods, encrypt and decrypt within this class. Encrypt generates and prints a cipher text using the user-entered string and the key and ecrypt generates decrypted string from ciphertext. The cipher only encrypts alpha and numeric (A-Z, a-z, 0-9). All Symbols, such as - , ; %, remain unencrypted. The cipher text can have special characters. Use generator expression to filter out alpha and numeric characters of the input string and to generate cipher text. Create an instance of this class, encrypt and decrypt back the user entered string.

In [9]:
class Cipher:

    def __init__(self):
        text = input("Enter the String:" )
        self.plainText = text
        import random
        key = random.randint(0,51)
        self.key = key
        
    def encrypt(self):
        upper = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
        lower = "abcdefghijklmnopqrstuwxyz"
        number = "0123456789"
        self.cipherText = ""
        for ch in self.plainText:
            value = ord(ch)
            if 48<= value <= 57:
                new_value = number[(number.index(ch)+self.key)%10]
            elif 65<= value <= 90:
                new_value = upper[(upper.index(ch)+self.key)%26]
            elif 97<= value <= 122:
                new_value = lower[(lower.index(ch)+self.key)%26]
            else:
                new_value = ch
            finalLetter = str(new_value)
            self.cipherText += finalLetter

        print ("Your cipher text is: ", self.cipherText)
        
    def decrypt(self):
        upper = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
        lower = "abcdefghijklmnopqrstuwxyz"
        number = "0123456789"
        DecryptedValue = ""
        for ch in self.cipherText:
            value = ord(ch)
            if 48<= value <= 57:
                new_value = number[(number.index(ch)-self.key)%10]
            elif 65<= value <= 90:
                new_value = upper[(upper.index(ch)-self.key)%26]
            elif 97<= value <= 122:
                new_value = lower[(lower.index(ch)-self.key)%26]
            else:
                new_value = ch
            finalLetter = str(new_value)
            DecryptedValue += finalLetter

        print ("Your decrypted text is: ", DecryptedValue)

In [10]:
# Create an instance of this Cipher class and accept the user input

Cipher_Instance = Cipher()

Enter the String:Summer29@$$Winter29

In [11]:
# Encrypt the user entered text

Cipher_Instance.encrypt()

Your cipher text is:  Cexxob29@$$Gsydob29

In [12]:
# Decrypt back the encypted text

Cipher_Instance.decrypt()

Your decrypted text is:  Summer29@$$Winter29

##### 6) Get Data from the following link: 
 
http://files.grouplens.org/datasets/movielens/ml-20m.zip 
 
We will be using the following files for this exercise: 
 
###### ratings.csv : userId,movieId,rating, timestamp 
###### tags.csv : userId,movieId, tag, timestamp 
###### movies.csv : movieId, title, genres

###### I. Read the dataset using pandas.

In [13]:
import numpy as np
import pandas as pd

ratings_df = pd.read_csv("ratings.csv")
tags_df = pd.read_csv("tags.csv")
movies_df = pd.read_csv("movies.csv")

In [14]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [15]:
tags_df.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [16]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

###### II. Extract the first row from tags and print its type.

In [17]:
# Extract the first row
tags_df.iloc[[0]]

   userId  movieId          tag   timestamp
0      18     4141  Mark Waters  1240597180

In [18]:
# Print type
type(tags_df.iloc[[0]])

pandas.core.frame.DataFrame

###### III.  Extract row 0, 11, 2000 from tags DataFrame.

In [19]:
tags_df.iloc[[0,11,2000]]

      userId  movieId                tag   timestamp
0         18     4141        Mark Waters  1240597180
11        65     1783      noir thriller  1368149983
2000     910    68554  conspiracy theory  1368043943

###### IV.  Print index, columns of the DataFrame.

In [20]:
# index and columns of ratings dataset

print("Index of ratings dataset:", ratings_df.index.values)
print("Columns of ratings dataset:", ratings_df.columns.values)

Index of ratings dataset: [       0        1        2 ... 20000260 20000261 20000262]
Columns of ratings dataset: ['userId' 'movieId' 'rating' 'timestamp']

In [21]:
# index and columns of tags dataset

print("Columns of tags dataset:", tags_df.index.values)
print("Columns of tags dataset:", tags_df.columns.values)

Columns of tags dataset: [     0      1      2 ... 465561 465562 465563]
Columns of tags dataset: ['userId' 'movieId' 'tag' 'timestamp']

In [22]:
# index and columns of movies dataset

print("Columns of movies dataset:", movies_df.index.values)
print("Columns of movies dataset:", movies_df.columns.values)

Columns of movies dataset: [    0     1     2 ... 27275 27276 27277]
Columns of movies dataset: ['movieId' 'title' 'genres']

###### V. Calculate descriptive statistics for the 'ratings' column of the ratings DataFrame. Verify using describe().

In [23]:
# Descriptive statistics

print("Count:", ratings_df['rating'].count())
print("Mean :", ratings_df['rating'].mean())
print("std  :", ratings_df['rating'].std())
print("Min  :", ratings_df['rating'].min())
print("Max  :", ratings_df['rating'].max())
print("25%  :", ratings_df['rating'].quantile(0.25))
print("50%  :", ratings_df['rating'].quantile(0.50))
print("75%  :", ratings_df['rating'].quantile(0.75))

Count: 20000263
Mean : 3.5255285642993797
std  : 1.051988919275684
Min  : 0.5
Max  : 5.0
25%  : 3.0
50%  : 3.5
75%  : 4.0

In [24]:
#Verify using Describe

ratings_df['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

###### VI. Filter out ratings with rating > 5

In [25]:
ratings_df[(ratings_df['rating']>5) != True].head(20)

    userId  movieId  rating   timestamp
0        1        2     3.5  1112486027
1        1       29     3.5  1112484676
2        1       32     3.5  1112484819
3        1       47     3.5  1112484727
4        1       50     3.5  1112484580
5        1      112     3.5  1094785740
6        1      151     4.0  1094785734
7        1      223     4.0  1112485573
8        1      253     4.0  1112484940
9        1      260     4.0  1112484826
10       1      293     4.0  1112484703
11       1      296     4.0  1112484767
12       1      318     4.0  1112484798
13       1      337     3.5  1094785709
14       1      367     3.5  1112485980
15       1      541     4.0  1112484603
16       1      589     3.5  1112485557
17       1      593     3.5  1112484661
18       1      653     3.0  1094785691
19       1      919     3.5  1094785621

###### VII. Find how many null values, missing values are present. Deal with them. Print out how many rows have been modified.

In [26]:
# Number of Null values,missing values in ratings dataset for each column

ratings_df.isnull().sum(axis=0)

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [28]:
# Number of Null values,missing values in movies dataset for each column
movies_df.isnull().sum(axis=0)

movieId    0
title      0
genres     0
dtype: int64

In [29]:
# Number of Null values,missing values in tags dataset for each column
tags_df.isnull().sum(axis=0)

userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

In [30]:
# fill the null values in tags dataset
tags_df['tag'].fillna("tag not available",inplace= True)

# Verify the null values in tags dataset
tags_df.isnull().sum()

userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

In [31]:
#Print out how many rows have been modified
print(tags_df[tags_df['tag']=="tag not available"]["tag"].count())

16

###### VIII. Filter out movies from the movies DataFrame that are of type 'Animation'.

In [32]:
movies_df[movies_df['genres'].str.contains("Animation") == False]

,movieId,title,genres
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
30,31,Dangerous Minds (1995),Drama
31,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
...,...,...,...
27244,131138,My Führer (2007),Comedy|Drama|War
27245,131140,Stopped on Track (2011),Drama
27246,131142,Voll Normaaal (1994),Comedy
27249,131148,What A Man (2011),Comedy|Romance
27250,131150,7 Dwarves: The Forest Is Not Enough (2006),Comedy
27251,131152,The Fat Spy (1966),Comedy
27252,131154,"Die Bademeister – Weiber, saufen, Leben retten...",Comedy
27253,131156,Ants in the Pants 2 (2002),Comedy
27254,131158,"Manta, Manta (1991)",Comedy
27255,131160,Oscar and the Lady in Pink (2009),Drama
27256,131162,Por un puñado de besos (2014),Drama|Romance
27257,131164,Vietnam in HD (2011),War
27258,131166,WWII IN HD (2009),(no genres listed)
27259,131168,Phoenix (2014),Drama
27260,131170,Parallels (2015),Sci-Fi
27261,131172,Closed Curtain (2013),(no genres listed)
27262,131174,Gentlemen (2014),Drama|Romance|Thriller
27263,131176,A Second Chance (2014),Drama
27264,131180,Dead Rising: Watchtower (2015),Action|Horror|Thriller
27265,131231,Standby (2014),Comedy|Romance
27266,131237,What Men Talk About (2010),Comedy
27267,131239,Three Quarter Moon (2011),Comedy|Drama
27268,131241,Ants in the Pants (2000),Comedy|Romance
27271,131250,No More School (2000),Comedy
27272,131252,Forklift Driver Klaus: The First Day on the Jo...,Comedy|Horror
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

###### IX. Find the average rating of movies.

In [33]:
ratings_df['rating'].mean()

3.5255285642993797

###### X. Perform an inner join of movies and tags based on movieId.

In [34]:
movies_df.join(tags_df,on='movieId',how='inner',lsuffix='_mov',rsuffix='_tag')

,movieId,movieId_mov,title,genres,userId,movieId_tag,tag,timestamp
0,1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,65,208,dark hero,1368150078
1,2,2,Jumanji (1995),Adventure|Children|Fantasy,65,353,dark hero,1368150079
2,3,3,Grumpier Old Men (1995),Comedy|Romance,65,521,noir thriller,1368149983
3,4,4,Waiting to Exhale (1995),Comedy|Drama|Romance,65,592,dark hero,1368150078
4,5,5,Father of the Bride Part II (1995),Comedy,65,668,bollywood,1368149876
5,6,6,Heat (1995),Action|Crime|Thriller,65,898,screwball comedy,1368150160
6,7,7,Sabrina (1995),Comedy|Romance,65,1248,noir thriller,1368149983
7,8,8,Tom and Huck (1995),Adventure|Children,65,1391,mars,1368150055
8,9,9,Sudden Death (1995),Action,65,1617,neo-noir,1368150217
9,10,10,GoldenEye (1995),Action|Adventure|Thriller,65,1694,jesus,1368149925
10,11,11,"American President, The (1995)",Comedy|Drama|Romance,65,1783,noir thriller,1368149983
11,12,12,Dracula: Dead and Loving It (1995),Comedy|Horror,65,2022,jesus,1368149925
12,13,13,Balto (1995),Adventure|Animation|Children,65,2193,dragon,1368151314
13,14,14,Nixon (1995),Drama,65,2353,conspiracy theory,1368151266
14,15,15,Cutthroat Island (1995),Action|Adventure|Romance,65,2662,mars,1368150055
15,16,16,Casino (1995),Crime|Drama,65,2726,noir thriller,1368149983
16,17,17,Sense and Sensibility (1995),Drama|Romance,65,2840,jesus,1368149925
17,18,18,Four Rooms (1995),Comedy,65,3052,jesus,1368149926
18,19,19,Ace Ventura: When Nature Calls (1995),Comedy,65,5135,bollywood,1368149876
19,20,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,65,6539,treasure,1368149949
20,21,21,Get Shorty (1995),Comedy|Crime|Thriller,65,6874,dark hero,1368150079
21,22,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,65,7013,noir thriller,1368149983
22,23,23,Assassins (1995),Action|Crime|Thriller,65,7318,jesus,1368149925
23,24,24,Powder (1995),Drama|Sci-Fi,65,8529,stranded,1368150012
24,25,25,Leaving Las Vegas (1995),Drama|Romance,65,8622,conspiracy theory,1368151266
25,26,26,Othello (1995),Drama,65,27803,Oscar (Best Foreign Language Film),1305008715
26,27,27,Now and Then (1995),Children|Drama,65,27866,New Zealand,1304957153
27,28,28,Persuasion (1995),Drama|Romance,65,48082,surreal,1304958354
28,29,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,65,48082,unusual,1304958359
29,30,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama,65,51884,bollywood,1368149876
...,...,...,...,...,...,...,...,...
27248,131146,131146,Werner - Volles Rooäää (1999),Animation|Comedy,34494,53956,Nudity (Rear),1326402278
27249,131148,131148,What A Man (2011),Comedy|Romance,34494,53956,wheelchair,1326402295
27250,131150,131150,7 Dwarves: The Forest Is Not Enough (2006),Comedy,34494,56719,prodigy,1326535978
27251,131152,131152,The Fat Spy (1966),Comedy,34494,58998,break-up,1327260156
27252,131154,131154,"Die Bademeister – Weiber, saufen, Leben retten...",Comedy,34494,58998,Hawaii,1327260176
27253,131156,131156,Ants in the Pants 2 (2002),Comedy,34494,58998,jealousy,1327260186
27254,131158,131158,"Manta, Manta (1991)",Comedy,34494,58998,Nudity (Full Frontal - Notable),1327260193
27255,131160,131160,Oscar and the Lady in Pink (2009),Drama,34494,58998,puppets,1327260247
27256,131162,131162,Por un puñado de besos (2014),Drama|Romance,34494,58998,surfing,1327260243
27257,131164,131164,Vietnam in HD (2011),War,34494,60069,Comedy,1322934956
27258,131166,131166,WWII IN HD (2009),(no genres listed),34494,60069,robots,1322934947
27259,131168,131168,Phoenix (2014),Drama,34494,60408,hilarious,1322934874
27260,131170,131170,Parallels (2015),Sci-Fi,34494,61323,Brad Pitt,1326646054
27261,131172,131172,Closed Curtain (2013),(no genres listed),34494,61323,cosmetic surgery,1326646075
27262,131174,131174,Gentlemen (2014),Drama|Romance|Thriller,34494,61323,George Clooney,1326646092
27263,131176,131176,A Second Chance (2014),Drama,34494,61323,John Malkovich,1326646067
27264,131180,131180,Dead Rising: Watchtower (2015),Action|Horror|Thriller,34494,64614,Clint Eastwood,1323542837
27265,131231,131231,Standby (2014),Comedy|Romance,34494,73587,sexuality,1323469711
27266,131237,131237,What Men Talk About (2010),Comedy,34494,76093,dragons,1325326591
27267,131239,131239,Three Quarter Moon (2011),Comedy|Drama,34494,76093,friendship,1325326636
27268,131241,131241,Ants in the Pants (2000),Comedy|Romance,34494,77191,dark comedy,1326402404
27269,131243,131243,Werner - Gekotzt wird später (2003),Animation|Comedy,34494,77191,male nudity,1326402427
27270,131248,131248,Brother Bear 2 (2006),Adventure|Animation|Children|Comedy|Fantasy,34494,78321,sexuality,1326228885
27271,131250,131250,No More School (2000),Comedy,34494,79132,alternate reality,1325326442
27272,131252,131252,Forklift Driver Klaus: The First Day on the Jo...,Comedy|Horror,34494,79132,dreamlike,1325326562
27273,131254,131254,Kein Bund für's Leben (2007),Comedy,34494,79132,fantasy,1325326456
27274,131256,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,34494,79132,Leonardo DiCaprio,1325326461
27275,131258,131258,The Pirates (2014),Adventure,34494,79132,sci-fi,1325326474
27276,131260,131260,Rentun Ruusu (2001),(no genres listed),34494,79132,thought-provoking,1325326483
27277,131262,131262,Innocence (2014),Adventure|Fantasy|Horror,34494,79590,AGE DISPARITY ROMANCE,1326319089

###### XI. Print out the 5 movies that belong to the Comedy genre and have rating greater than 4.

In [35]:
# join the movies and ratings dataset

movie_ratings_df = movies_df.join(ratings_df,on='movieId',how='left',lsuffix='_mov',rsuffix='_rate')


# Filter the movies with Comedy genre which have rating greater than 4

data = movie_ratings_df[(movie_ratings_df['genres'].str.contains('Comedy')) & (movie_ratings_df['rating']>4)][['title','genres','rating']]

data.set_index('title',inplace = True)


# Print out 5 movies with Comedy genre which have rating greater than 4

print(data.head(5))

                                           genres  rating
title
Jeffrey (1995)                       Comedy|Drama     4.5
Living in Oblivion (1995)                  Comedy     5.0
Mallrats (1995)                    Comedy|Romance     5.0
Mute Witness (1994)        Comedy|Horror|Thriller     5.0
Smoke (1995)                         Comedy|Drama     5.0

###### XII. Split 'genres' into multiple columns.

In [36]:
movie_genres = movies_df['genres'].str.split('|',expand = True)

movie_genres = movie_genres.rename(columns = lambda x : 'genre_' + str(x))

movie_genres

,genre_0,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7,genre_8,genre_9
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,Comedy,Romance,None,None,None,None,None,None,None,None
3,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,Comedy,None,None,None,None,None,None,None,None,None
5,Action,Crime,Thriller,None,None,None,None,None,None,None
6,Comedy,Romance,None,None,None,None,None,None,None,None
7,Adventure,Children,None,None,None,None,None,None,None,None
8,Action,None,None,None,None,None,None,None,None,None
9,Action,Adventure,Thriller,None,None,None,None,None,None,None
10,Comedy,Drama,Romance,None,None,None,None,None,None,None
11,Comedy,Horror,None,None,None,None,None,None,None,None
12,Adventure,Animation,Children,None,None,None,None,None,None,None
13,Drama,None,None,None,None,None,None,None,None,None
14,Action,Adventure,Romance,None,None,None,None,None,None,None
15,Crime,Drama,None,None,None,None,None,None,None,None
16,Drama,Romance,None,None,None,None,None,None,None,None
17,Comedy,None,None,None,None,None,None,None,None,None
18,Comedy,None,None,None,None,None,None,None,None,None
19,Action,Comedy,Crime,Drama,Thriller,None,None,None,None,None
20,Comedy,Crime,Thriller,None,None,None,None,None,None,None
21,Crime,Drama,Horror,Mystery,Thriller,None,None,None,None,None
22,Action,Crime,Thriller,None,None,None,None,None,None,None
23,Drama,Sci-Fi,None,None,None,None,None,None,None,None
24,Drama,Romance,None,None,None,None,None,None,None,None
25,Drama,None,None,None,None,None,None,None,None,None
26,Children,Drama,None,None,None,None,None,None,None,None
27,Drama,Romance,None,None,None,None,None,None,None,None
28,Adventure,Drama,Fantasy,Mystery,Sci-Fi,None,None,None,None,None
29,Crime,Drama,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
27248,Animation,Comedy,None,None,None,None,None,None,None,None
27249,Comedy,Romance,None,None,None,None,None,None,None,None
27250,Comedy,None,None,None,None,None,None,None,None,None
27251,Comedy,None,None,None,None,None,None,None,None,None
27252,Comedy,None,None,None,None,None,None,None,None,None
27253,Comedy,None,None,None,None,None,None,None,None,None
27254,Comedy,None,None,None,None,None,None,None,None,None
27255,Drama,None,None,None,None,None,None,None,None,None
27256,Drama,Romance,None,None,None,None,None,None,None,None
27257,War,None,None,None,None,None,None,None,None,None
27258,(no genres listed),None,None,None,None,None,None,None,None,None
27259,Drama,None,None,None,None,None,None,None,None,None
27260,Sci-Fi,None,None,None,None,None,None,None,None,None
27261,(no genres listed),None,None,None,None,None,None,None,None,None
27262,Drama,Romance,Thriller,None,None,None,None,None,None,None
27263,Drama,None,None,None,None,None,None,None,None,None
27264,Action,Horror,Thriller,None,None,None,None,None,None,None
27265,Comedy,Romance,None,None,None,None,None,None,None,None
27266,Comedy,None,None,None,None,None,None,None,None,None
27267,Comedy,Drama,None,None,None,None,None,None,None,None
27268,Comedy,Romance,None,None,None,None,None,None,None,None
27269,Animation,Comedy,None,None,None,None,None,None,None,None
27270,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
27271,Comedy,None,None,None,None,None,None,None,None,None
27272,Comedy,Horror,None,None,None,None,None,None,None,None
27273,Comedy,None,None,None,None,None,None,None,None,None
27274,Comedy,None,None,None,None,None,None,None,None,None
27275,Adventure,None,None,None,None,None,None,None,None,None
27276,(no genres listed),None,None,None,None,None,None,None,None,None
27277,Adventure,Fantasy,Horror,None,None,None,None,None,None,None

###### XIII. Extract year from title e.g. (1995).

In [37]:
movie_year = movies_df['title'].str.extract("\((\d{4})\)")

movie_year.rename(index=str,columns = {0:'Year'})

       Year
0      1995
1      1995
2      1995
3      1995
4      1995
5      1995
6      1995
7      1995
8      1995
9      1995
10     1995
11     1995
12     1995
13     1995
14     1995
15     1995
16     1995
17     1995
18     1995
19     1995
20     1995
21     1995
22     1995
23     1995
24     1995
25     1995
26     1995
27     1995
28     1995
29     1995
...     ...
27248  1999
27249  2011
27250  2006
27251  1966
27252  1999
27253  2002
27254  1991
27255  2009
27256  2014
27257  2011
27258  2009
27259  2014
27260  2015
27261  2013
27262  2014
27263  2014
27264  2015
27265  2014
27266  2010
27267  2011
27268  2000
27269  2003
27270  2006
27271  2000
27272  2001
27273  2007
27274  2002
27275  2014
27276  2001
27277  2014

[27278 rows x 1 columns]

###### XIV. Select rows based on timestamps later than 2015-02-01.

In [38]:
# ratings dataset

ratings_df[ratings_df["timestamp"] > 2015-2-1].head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [39]:
# tags dataset

tags_df[tags_df["timestamp"] > 2015-2-1].head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

###### XV. Sort the tags DataFrame based on timestamp.

In [40]:
tags_df.sort_values(by=['timestamp'],ascending=True).head()

        userId  movieId              tag   timestamp
333932  100371     2788     monty python  1135429210
333927  100371     1732    coen brothers  1135429236
333924  100371     1206  stanley kubrick  1135429248
333923  100371     1193   jack nicholson  1135429371
333939  100371     5004    peter sellers  1135429399